[project]
name = "flake-follows-auto"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = []

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[project.scripts]
flake-follows-auto = "flake_follows_auto.__main__:main"

[tool.pdm]
distribution = true
